.img-size {
    height: auto;
    width: 100%;    
}

.carousel-sec1 {
    /* background-image: url(../assets/banner-img.png);
    min-height: 816px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    overflow: hidden;
    padding: 0%;
    .carousel-caption {
      bottom: 40% !important;
    }
    .titles {
      font-family: "Rozha One", serif;
      color: #d1b982;
      line-height: 85px;
      text-align: left;
    }
    .font1 {
      font-size: 64px;
    }
    .font2 {
      font-size: 96px;
      span {
        font-family: "Sawarabi Mincho", serif;
        color: #fff;
      }
    }
    .font3 {
      color: #fff;
      font-size: 72px;
    }
    .hookah1 {
      position: absolute;
      bottom: 40px;
    }
  }

  @media (max-width: 768px) {
    .carousel-sec1 .carousel-caption {
      bottom: 20% !important;
  }
    .carousel-sec1 .titles {
      line-height: 30px;
    }
    .carousel-sec1 .font1 {
      font-size: 20px;
    }
    .carousel-sec1 .font2 {
      font-size: 32px;
    }
    .carousel-sec1 .font3 {
      font-size: 32px;
    }
   }